
.accordion .accordion_content.closed{
  height:0;
  overflow: hidden;
  opacity: 0;
  padding: 0 19px;
}
.accordion .accordion_content{
  padding: 20px 19px 18px;
  background: #fff;
  opacity: 1;
}
#accordion2.checkout .accordion_content{
  padding: 0;
}
.accordion>li{
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #f6f6f6;
  border: 1px solid #e2e2e2;
  margin-bottom: 5px;
  border-radius: 10px;
}
.accordion>li>a i{
  position: absolute;
  display: block;
  top: 18px;
  left: 19px;
  width: 8px;
  height: 8px;
  background: url('../image/accordion_plus.png') no-repeat;
}

.accordion>li>a{
  display: block;
  position: relative;
  padding: 10px 34px 6px;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  
}
.accordion a.active{
  border-color: #e2e2e2;
}
.accordion>li>a:hover, .accordion>li>a.active{
  color: #19aac5;
}
.accordion>li>a:hover i{
  background-position: 0 -9px;
}
.accordion>li>a.active i{
  background: url('../image/accordion_minus.jpg') 0 2px no-repeat;
}