nav{ position:relative; box-shadow: inset 0 -1px 1px #8fa008; margin: 0px 0 0 0;z-index: 8;background: url('../image/nav_bg.jpg') repeat-x #9db011;border-radius: 10px;}
.main-menu .sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.main-menu .sf-menu ul li {width:100%}
.main-menu .sf-menu li {float:left;position:relative}

.main-menu .sf-menu>li>a{
  display:block;
  position:relative;
  font-size: 14px;
  line-height: 19px;
  color:#fff;
  font-weight: bold;
  padding: 19px 32px 17px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.main-menu .sf-menu>li>a:hover,.main-menu .sf-menu>li.current>a,.main-menu .sf-menu>li.sfHover>a{
  background: #ffde00;
  color: #1b1b1b;
  box-shadow: inset 0 -1px #e4c500;
}
.main-menu .sf-menu{display: block;}
.main-menu .sf-menu>li{
}
.main-menu .sf-menu>li:first-child a{border-radius: 10px 0px 0 10px;}
.main-menu .sf-menu a{
  
}
.main-menu .sf-menu{display: block;position: relative;z-index: 9;}
.main-menu .sf-menu:after {clear: both;content: "";display: block;}
#menu-icon{display: none;}
/*================================>> 2 Level <<========================================*/
.main-menu .sf-menu li ul,.main-menu .sf-menu li.sfHover>ul{left:-1px;top:56px;width: 177px;padding:15px 0 5px; z-index:99;background: #fff;border-radius: 10px;box-shadow: 0 0 15px rgba(0,0,0,0.15);}
.main-menu .sf-menu li ul li{margin-bottom: 8px;padding: 0px 20px;position: relative;width: 137px;}
.main-menu .sf-menu li ul li a{font-size: 15px;line-height: 18px;color: #1b1b1b;letter-spacing: 1px;}
.main-menu .sf-menu li li a:hover, .main-menu .sf-menu li.sfHover li.sfHover>a{color: #a3b513;}

/*================================>> 3 Level <<========================================*/
.main-menu .sf-menu li li ul{left:158px !important;top:-15px !important;width: 180px !important;padding:0 0 0 0;z-index:99; box-shadow: 0 1px 5px rgba(0,0,0,0.57);border-radius: 4px;}
.main-menu .sf-menu li li li{}
.main-menu .sf-menu li li li a{}
.main-menu .sf-menu li li li a:hover{}

.main-menu .sf-menu li li.first_item, .main-menu .sf-menu li li.first_item>a{
  border-radius: 10px 10px 0 0;
}
.main-menu .sf-menu li li.last_item, .main-menu .sf-menu li li.last_item>a{
  border-radius: 0px 0px 10px 10px;
}



.main-menu .sf-menu li a .menu-arrow{
  display:inline-block;
  width:10px;
  margin-left:9px;
  margin-top: -2px;
  height:7px;
  text-indent:-100%;
  font-size:0;
  line-height:0;
  background: url('../image/menu_arrow.png') 0 -6px no-repeat;
  vertical-align: middle;
}
.main-menu .sf-menu li li a .menu-arrow{
  width: 6px;
  height: 8px;
  background: url('../image/sub_menu_arrow1.png') 0 0px no-repeat;
  display: block;
  position: absolute;
  right: 32px;
  top: 8px;
}
.main-menu .sf-menu li li a:hover .menu-arrow, .main-menu .sf-menu li.sfHover li.sfHover>a .menu-arrow{background-position: 0 -9px;}

.main-menu .sf-menu>li>a:hover>.menu-arrow,.main-menu .sf-menu>li.current>a>.menu-arrow,.main-menu .sf-menu>li.sfHover>a>.menu-arrow{background-position: 0 0;}
/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 979px) {
  .main-menu .sf-menu{display: block;}
  .sf-menu>li.last_item>a{border-radius: 0 10px 10px 0;}
	 .main-menu .sf-menu>li{width: 120px;}
   .main-menu .sf-menu>li:first-child{width: 124px;}
   nav{float: none;}
}

@media only screen and (max-width: 767px) {
  #menu-icon {
		background:#ffdd00;
    border-radius: 10px;
		font-weight: bold;
    font-size: 14px;
    padding: 14px 20px 13px;
    color: #1b1b1b;
		cursor: pointer;
    border-bottom: 1px solid #ffc54a;
    text-transform: uppercase;
		display: block; /* show menu icon */
    position: relative;
    text-align: center;
	}
  #menu-icon:after{
    display: block;
    position: absolute; 
    right: 20px;
    top: 24px;
    width: 8px;
    height: 6px;
    background: url('../image/menu_icon_arrow.png') no-repeat;
    content: "";
  }
	#menu-icon:hover:after{
    background-position: 0 -6px;
  }
  #menu-icon.active, #menu-icon:hover {
    background:#ee1b3f;
    color: #fff;
    border-color: #ca1331;
    background-position: 0 -6px;
	}
  .main-menu .sf-menu{
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
  }
  .main-menu .sf-menu>li, .main-menu .sf-menu>li:first-child{
    float: none;
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    background:#fff;
    text-align: left;}
  
  .main-menu .sf-menu li.first_item, .main-menu .sf-menu li.first_item>a{
    border-radius: 10px 10px 0 0;
  }
  .main-menu .sf-menu li.last_item, .main-menu .sf-menu li.last_item>a{
    border-radius: 0px 0px 10px 10px;
  }
  .main-menu .sf-menu>li>a{
    background: #ffde00;
    color: #1b1b1b;
    box-shadow: inset 0 -1px #e4c500;
  }
.main-menu .sf-menu>li>a>.menu-arrow,.main-menu .sf-menu>li>a>.menu-arrow,.main-menu .sf-menu>li>a>.menu-arrow{background-position: 0 0px;}
.main-menu .sf-menu>li.sfHover>a>.menu-arrow,.main-menu .sf-menu>li.current>a>.menu-arrow,.main-menu .sf-menu>li:hover>a>.menu-arrow{background-position: 0 -6px;}
.main-menu .sf-menu li li.first_item, .main-menu .sf-menu li li.first_item>a, .main-menu .sf-menu li li.last_item, .main-menu .sf-menu li li.last_item>a{border-radius: 0;}
.main-menu .sf-menu li ul, .main-menu .sf-menu li.sfHover ul{position: static !important;width: 100% !important;box-shadow: none;text-align: center;overflow: hidden;background: none;}
.main-menu .sf-menu li ul>li, .main-menu .sf-menu li.sfHover ul>li{float: none;width: auto;}
.main-menu .sf-menu > li > a:hover, .main-menu .sf-menu > li.current > a, .main-menu .sf-menu > li.sfHover > a{color: #fff;}
}

@media only screen and (max-width: 479px) {
	
}