/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:100px;
  margin-left: 650px;
  left: 50%;
	overflow:hidden;
	width:45px;
	height:45px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../image/back_to.png) no-repeat left top;
}


#toTop:hover {
	outline:none;
	background-position: 0 -46px;
}
